@model CasosUso.DTOs.AltaEnvioDTO

@{
    ViewData["Title"] = "Alta de Envio";
}

@if (ViewBag.Exito != null)
{
    <div class="alert alert-success">@ViewBag.Exito</div>
}

@if (ViewBag.Error != null)
{
    <div class="alert alert-danger">
        @ViewBag.Error
    </div>
}

<h1>AltaEnvio</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AltaEnvio">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EmailCliente" class="control-label"></label>
                <input asp-for="EmailCliente" class="form-control" />
                <span asp-validation-for="EmailCliente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TipoEnvio" class="control-label"></label>
                <input asp-for="TipoEnvio" class="form-control" />
                <label>El tipo de envio debe ser "URGENTE" o "COMUN"</label>
                <span asp-validation-for="TipoEnvio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Peso" class="control-label"></label>
                <input type="text" asp-for="Peso" class="form-control" />
                <label>El peso debe de ser mayor a 0.</label>
                <span asp-validation-for="Peso" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DireccionPostal" class="control-label"></label>
                <input type="text" asp-for="DireccionPostal" class="form-control" />
                <span asp-validation-for="DireccionPostal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
          <br>
            <a href="/Home/Menu" class="btn btn-secondary">Volver</a>
            <br />
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
