

<h2>Gestión de Empleados</h2>

<form asp-action="Create" method="get">
    <button type="submit" class="btn btn-primary">Agregar Empleado</button>
</form>

<form asp-action="ListaEmpleado" method="get">
    <button type="submit" class="btn btn-primary">Editar Empleado</button>
</form>

<form asp-action="Delete" method="get">
    <button type="submit" class="btn btn-primary">Eliminar empleado</button>
</form>

<br>
<a href="/Home/Menu" class="btn btn-secondary">Volver</a>
<br />

